<div class="row">
  <div class="col-md-12 headMargin">
    <h1 class="title">Create stream from stream
      
    </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Projects</a></li>
      <li class="breadcrumb-item"><a routerLink="/project/{{project.id}}">{{project.name}}</a></li>
      <li class="breadcrumb-item active" *ngIf="stream_parent != undefined">{{'Create new stream from stream: ' + stream_parent.name}}</li>
    </ol>
  </div>
</div>

<div class="row" *ngIf="counts != undefined">
  <div class="col-md-3 text-center">
    <h2>All Results in stream: {{counts.count}}</h2>
  </div>
  <div class="col-md-3 text-center">
    <h2>Task in process: {{counts.tasks.new}}</h2>
  </div>
  <div class="col-md-3 text-center">
    <h2>Task done: {{counts.tasks.done}}</h2>
  </div>
  <div class="col-md-3 text-center">
    <h2>Task all: {{counts.tasks.all}}</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-2 text-right">
      <h4 style="margin-top: 0.2em">Select context<span *ngIf="selected.count != 0">: {{selected.count}}</span></h4>
  </div>
  <div class="col-md-2">
    <select (change)="onChangeCntx($event.target.value)" class="form-control">
      <option *ngFor="let c of cntx" [ngValue]="c" [selected]="stream.selected.cntx == c">{{c}}</option>
    </select>
  </div>
  <div class="col-md-2" *ngIf="schema != undefined"> 
    <select  (change)="onChangeField($event.target.value)" class="form-control">
      <option *ngFor="let c of schema[cntx]" [ngValue]="c" [selected]="stream.selected.field == c">{{c}}</option>
    </select>
  </div>
  <div class="col-md-5 text-left" *ngIf="schema != undefined">
      <span class="btn btn-primary" (click)="showElements()">Show 10 elements</span>
      <span class="btn btn-success" (click)="save()">Save</span>
      <span class="btn btn-warning">Start</span>
      
      <!--TESTING BTN-->
      <span class="btn btn-info" (click)="testing()" *ngIf="testID == 0 && !stream.locked"><i class="fa fa-bolt" aria-hidden="true"></i> Testing</span>
      <span class="btn btn-secondary disabled" *ngIf="testID != 0" disabled><i class="fa fa-bolt" aria-hidden="true"></i> Testing in process</span>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr>
  </div>
</div>

<div class="row topMargin">
  <div class="col-md-9">
    <!--<pre>{{stream | json}}</pre>-->
    <table class="table table-bordered" *ngIf="demoResults != undefined">
          <tr class="bg-inverse text-white">
            <th>Info</th>
          </tr>
          <tr *ngFor="let row of demoResults">
            <td>
              {{row}}
            </td>
          </tr>
        </table>
  </div>
  <div class="col-md-3" *ngIf="stream != undefined">
    <app-pars-builder [(stream)]="stream" [(rules)]="rules"></app-pars-builder>
  </div>
</div>
