<div class="card bottomMargin">
      <div class="card-header">
        Parsing <span class="badge badge-success" (click)="addContext()">add context</span>
      </div>
      <ul class="list-group list-group-flush" *ngFor="let rule of stream.tasks[0].rules; let i = index">
        <li class="list-group-item">
          <!--Context-->
          <div class="row">
            <div class="col-md-4">
              <input type="text" class="form-control" placeholder="Key context" name="taskName" [(ngModel)]="rule.key">
            </div>
            <div class="col-md-4">
              <input type="text" class="form-control" placeholder="CSS context" name="taskCNTX" [(ngModel)]="rule.context">
            </div>
            <div class="col-md-2">
              <span class="btn btn-success" (click)="addSelector(rule.selectors)"><i class="fa fa-plus"></i></span>
            </div>
            <div class="col-md-2">
              <span class="btn btn-warning" (click)="removeContext(stream.tasks[0].rules, i)"><i class="fa fa-trash-o"></i></span>
            </div>
          </div>
          <!--selectors-->
          <div *ngFor="let selector of rule.selectors;  let isel = index">
            <div class="row">
              <div class="col-md-12">
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <input type="text" class="form-control" placeholder="Selector key" name="selectorKey" [(ngModel)]="selector.key">
              </div>
              <div class="col-md-5">
                <input type="text" class="form-control" placeholder="Selector CSS" name="selectorCSSS" [(ngModel)]="selector.selector">
              </div>
              <div class="col-md-2">
                <span class="btn btn-danger" (click)="removeSelector(rule.selectors, isel)"><i class="fa fa-trash-o"></i></span>
              </div>
            </div>
          </div>

          <!--merging rules-->
          <div>
            <div class="row">
              <div class="col-md-12">
                <hr>
                Merging <span class="badge badge-success" (click)="addMergingRule(rule.merging)">add merging rule</span>
              </div>
            </div>
            <div *ngFor="let merging of rule.merging;  let imer = index">
              <div class="row">
                <div class="col-md-12">
                  <hr>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <input type="text" class="form-control" placeholder="Field" name="merginName" [(ngModel)]="merging.name">
                </div>
                <div class="col-md-5">
                  <input type="text" class="form-control" placeholder="Key" name="merginKey" [(ngModel)]="merging.key">
                </div>
                <div class="col-md-2">
                  <span class="btn btn-danger" (click)="removeMergingRule(rule.merging, imer)"><i class="fa fa-trash-o"></i></span>
                </div>
              </div>
            </div>
          </div>
          
        </li>
      </ul>
      <div class="card-block">
        <div class="row">
          <div class="col-md-12">
            <!--<input type="text" class="form-control" placeholder="Name stream" name="streamName" [(ngModel)]="stream.name">-->
          </div>
        </div>
      </div>
    </div>

    <!--SETTINGS-->
    <div class="card bottomMargin">
      <div class="card-header">
        Settings
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Name stream" name="streamName" [(ngModel)]="stream.name">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Delay" name="delay" [(ngModel)]="stream.tasks[0].delay">
          </div>
        </div>
      </div>
    </div>

    <!--PAGINATION-->
    <div class="card bottomMargin">
      <div class="card-header">
        Pagination <span class="badge badge-primary">Tasks: {{stream.pagination.to - stream.pagination.from}}</span>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-md-12">
            <input type="text" class="form-control" placeholder="url" name="url" [(ngModel)]="stream.pagination.url">
          </div>
        </div>
        
        <div class="row topMargin">
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="from" [(ngModel)]="stream.pagination.from">
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="to" [(ngModel)]="stream.pagination.to">
          </div>
        </div>
      </div>
    </div>

    

    <!--REQUEST-->
    <div class="card">
      <div class="card-header">
        Request
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-md-12">
            <input type="text" class="form-control" placeholder="uri" name="uri" [(ngModel)]="stream.tasks[0].req.uri">
          </div>
        </div>
        <!--HR-->
        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input type="text" class="form-control" placeholder="method" name="method" [(ngModel)]="stream.tasks[0].req.method">
          </div>
        </div>
      </div>
    </div>