<div class="row">
  <div class="col-md-12 headMargin">
    <h1 class="title">Projects <span class="btn btn-success" data-toggle="modal" data-target="#myModal">Create project</span> </h1>
  </div>
</div>


<div class="row">
    <div class="col-md-3" *ngFor="let project of projects" style="margin-bottom: 2em;">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">{{project.name}}</h4>
          <p class="card-text">{{project.site}}</p>
          <a routerLink="/project/{{project.id}}" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
</div>

 <!--Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form #heroForm="ngForm">
            <div class="form-group">
              <label for="exampleInputEmail1">Name project</label>
              <input type="text" class="form-control" placeholder="Name" [(ngModel)]="saveData.name" name="name" required/>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail2">Site</label>
              <input type="text" class="form-control" placeholder="http://site.com" [(ngModel)]="saveData.site" name="site" required/>
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="create()">Save</button>
      </div>
    </div>
  </div>
</div>