<div class="row">
  <div class="col-md-12 headMargin">
    <h1 class="title">Create stream
      
    </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Projects</a></li>
      <li class="breadcrumb-item"><a routerLink="/project/{{project.id}}">{{project.name}}</a></li>
      <li class="breadcrumb-item active">{{(stream.name) ? stream.name : 'Create new stream'}}</li>
    </ol>
  </div>
</div>
<div class="row bottomMargin" *ngIf="stream.locked == true">
  <div class="col-md-12">
    
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{'width':readyBar}" *ngIf="!done"></div>
      <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width':100+'%'}" *ngIf="done">done</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 bottomMargin">
    <span class="btn btn-success" (click)="save()" *ngIf="!stream.locked"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</span>

    <span class="btn btn-warning" (click)="start()" *ngIf="!stream.locked"><i class="fa fa-fire" aria-hidden="true"></i> Start</span>
    <span class="btn btn-secondary disabled" *ngIf="stream.locked && !done"><i class="fa fa-fire" aria-hidden="true"></i> In process</span>

    <span class="btn btn-info" (click)="testing()" *ngIf="testID == 0 && !stream.locked"><i class="fa fa-bolt" aria-hidden="true"></i> Testing</span>
    <span class="btn btn-secondary disabled" *ngIf="testID != 0" disabled><i class="fa fa-bolt" aria-hidden="true"></i> Testing in process</span>

    <span class="btn btn-danger" (click)="clear()" *ngIf="stream.locked"><i class="fa fa-trash-o" aria-hidden="true"></i> Clear results</span>
    <span class="btn btn-success" (click)="getJson(stream.id)" *ngIf="stream.locked"><i class="fa fa-trash-o" aria-hidden="true"></i> Get JSON</span>

  </div>
</div>

<!--<pre>{{stream | json}}</pre>-->
<div class="row">
  <!--Settings-->
  <div class="col-md-9">
    <!--TESTING-->
    <div class="card">
      <div class="card-header">
        Result Test
      </div>
      <div class="card-block">
        <pre *ngIf="testResult != undefined">{{testResult | json}}</pre>
        <!--<table class="table table-bordered" *ngIf="testResult != undefined">
          <tr class="bg-inverse text-white">
            <th>Info</th>
            <th>result</th>
          </tr>
          <tr *ngFor="let row of testResult  | keys">
            <td>
              <h5>{{row}}</h5>
              <p class="text-success" *ngIf="row.hash_parent != null">{{row.hash_parent}}</p>
              <p class="text-success"><span *ngIf="row.hash_parent != null">{{row.field}}&nbsp;&nbsp;-&nbsp;</span>{{row.hash}}</p>
              </td>
            <td><pre>{{row.result | json}}</pre></td>
          </tr>
        </table>-->
      </div>
    </div>
  </div>


  <div class="col-md-3">
    <app-pars-builder [(stream)]="stream" [(rules)]="rules"></app-pars-builder>
    <!--PARSING -->
  </div>
</div>