<div class="row">
  <div class="col-md-12 headMargin">
    <h1 class="title">Streams
      <a class="btn btn-sm btn-success" routerLink="/project/{{project.id}}/0">Create stream</a>
    </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Projects</a></li>
      <li class="breadcrumb-item active" *ngIf="project.name">{{project.name}}</li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead class="thead-inverse">
        <tr>
          <th>ID</th>
          <th>Parent stream</th>
          <th>Name</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stream of streams">
          <td>{{stream.id}}</td>
          <td>{{stream.parentStreamId}}</td>
          <td>
            <div *ngIf="stream.parentStreamId == 0"><a routerLink="/project/{{project.id}}/{{stream.id}}">{{stream.name}}</a></div>
            <div *ngIf="stream.parentStreamId != 0"><a routerLink="/project/{{project.id}}/stream-from-stream/{{stream.parentStreamId}}/{{stream.id}}">{{stream.name}}</a></div>
            <a routerLink="/project/{{project.id}}/stream-from-stream/{{stream.id}}/0" class="text-success">New stream from: {{stream.name}}</a>  
          </td>
          <td>
            <a routerLink="/project/{{project.id}}/{{stream.id}}/result">Result</a>  
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
