<div class="row" *ngIf="data != undefined">
  <div class="col-md-12 headMargin">
    <h1 class="title">Results</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Projects</a></li>
      <li class="breadcrumb-item"><a routerLink="/project/{{data.project.id}}">{{data.project.name}}</a></li>
      <li class="breadcrumb-item"><a routerLink="/project/{{data.project.id}}/{{data.stream.id}}">{{data.stream.name}}</a></li>
      <li class="breadcrumb-item active">Results</li>
    </ol>
  </div>
</div>

<div class="row" *ngIf="data != undefined">
  <div class="col-md-12">
      {{data.results.length}}
  </div>
</div>