/* You can add global styles to this file, and also import other style files */
.headMargin{
    margin-top: 2em;
    margin-bottom: 2em;
}


.bottomMargin{
    margin-bottom: 2em;
}

.topMargin{
    margin-top: 2em;
}